**assgn_1_Corona**

Requirements: To run this project locally, you'll need the following installed:</br>

Django>=3.0</br>
pandas>=1.0</br>
matplotlib>=3.0</br>
seaborn>=0.10</br>
pillow>=7.0</br>
numpy>=1.18</br>
requests>=2.0</br>
